name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  Test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25
          registry-url: https://registry.npmjs.org/
          cache: npm
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test
